* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.footer {
    max-width: 898px;
    padding: 10px 10px;
    margin: 0 auto;
}
.confirm__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 416px;
    height: 305px;
    box-shadow: rgb(0,0,0) 0px 0px 42px -12px;
    margin: auto;
    padding: 4.9%;
}

.confirm__inner-left {
    flex-basis: 50%;
    text-align: right;
}
.confirm__inner-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-left: 5px;
}
.inner__title {
    font-family: 'Acrom', sans-serif;
    font-weight: 700;
    font-size: 12.5px;
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
    background-color: black;
    line-height: 1.3em;
    margin-top: 4px;
}
.inner__title:first-child {
    margin-top: 0;
}
.inner__title:nth-child(2n+2) {
    margin-top: 26px;
}

.inner__sub-title {
    position: relative;
    font-family: 'Acrom', sans-serif;
    font-weight: 700;
    font-size: 12.5px;
    display: inline-block;
    text-transform: uppercase;
    color: black;
    line-height: 1.3em;
    margin-top: 4px;
}

.inner__old-price::before {
    content: "";
    position: absolute;
    display: block;
    height: 70px;
    left: 32px;
    top: -29px;
    width: 3px;
    transform: rotate(79deg);
    background-color: #ff6b08;
}
.inner__sub-title:first-child {
    margin-top: 2px;
}
.inner__sub-title:nth-child(-2n+2) {
    margin-top: 47px;
}
.inner__sub-title:nth-child(3n+3) {
    margin-top: 25px;
}
.text--orange {
    font-family: 'Acrom', sans-serif;
    font-size: 14.58px;
    font-weight: 500;
    color: #ff6b08;
    position: relative;
    margin-top: 20px;
    margin-left: 70px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    line-height: 1.4em;
}
.text--orange::before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    left: -18px;
    top: 6px;
    width: 3px;
    transform: rotate(30deg);
    background-color: black;
}

.button__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}
.footer__btn {
    margin-top: 55px;
    width: 336px;
    height: 48px;
    border: none;
    color: #ffffff;
    background: #ff6b08;
    font-size: 13.51px;
    line-height: 17px;
    font-family: 'Acrom', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 135px;
    box-shadow: 0px 9px 13px 0px rgba(184, 93, 39, 0.26);
    cursor: pointer;
}

.footer__btn:hover {
    transition: all .3s linear;
    box-shadow: rgba(255, 107, 8, .6) 0px 0px 43px 0px;
}

